<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletSisVenta</servlet-name>
        <servlet-class>SisVenta.controlador.ServletSisVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUser</servlet-name>
        <servlet-class>SisVenta.controlador.ServletUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministrador</servlet-name>
        <servlet-class>SisVenta.controlador.ServletAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModelo</servlet-name>
        <servlet-class>SisVenta.controlador.ServletModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMarca</servlet-name>
        <servlet-class>SisVenta.controlador.ServletMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCategoria</servlet-name>
        <servlet-class>SisVenta.controlador.ServletCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSubCategoria</servlet-name>
        <servlet-class>SisVenta.controlador.ServletSubCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSisVenta</servlet-name>
        <url-pattern>/ConsultarModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUser</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
        <url-pattern>/IniciarSession</url-pattern>
        <url-pattern>/administration/LogearAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministrador</servlet-name>
        <url-pattern>/ServletAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModelo</servlet-name>
        <url-pattern>/administration/ConsultarProducto</url-pattern>
        <url-pattern>/administration/InsertarProducto</url-pattern>
        <url-pattern>/administration/BorrarProducto</url-pattern>
        <url-pattern>/administration/ModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarca</servlet-name>
        <url-pattern>/administration/ConsultarMarca</url-pattern>
        <url-pattern>/administration/InsertarMarca</url-pattern>
        <url-pattern>/administration/BorrarMarca</url-pattern>
        <url-pattern>/administration/ModificarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCategoria</servlet-name>
        <url-pattern>/administration/ConsultarCategoria</url-pattern>
        <url-pattern>/administration/InsertarCategoria</url-pattern>
        <url-pattern>/administration/BorrarCategoria</url-pattern>
        <url-pattern>/administration/ModificarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSubCategoria</servlet-name>
        <url-pattern>/administration/ConsultarSubCategoria</url-pattern>
        <url-pattern>/administration/InsertarSubCategoria</url-pattern>
        <url-pattern>/administration/BorrarSubCategoria</url-pattern>
        <url-pattern>/administration/ModificarSubCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
